<h1>Create a Catch!</h1>

<% if @catch.errors.any? %>
<ul>
  <% @catch.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>


<%= form_for(@catch) do |f| %>
   <div>
    <%= f.label :species %>
    <%= f.select :species, ['Striped Bass', 'Fluke', 'Blue Fish', 'Black Fish', 'Weak Fish', 'False Albacore', 'Bonito'] %>
   </div>

   <div>
    <%= f.label :quantity %>
    <%= f.select :quantity, (1..30) %>
   </div>

   <div>
    <%= f.label :weight %>
    <%= f.text_field :weight %>
   </div>

   <div>
    <%= f.label :length %>
    <%= f.text_field :length %>
   </div>

   <div>
    <%= f.label :bait %>
    <%= f.text_field :bait %>
   </div>

    <h2>Log Information:</h2>
    <div>
        <%= f.fields_for :log do |log_attr| %>
           <div>
        <%= log_attr.label :start_date %>
        <%= log_attr.datetime_select :start_date %>
    </div>
    <div>
        <%= log_attr.label :end_date%>
        <%= log_attr.datetime_select :end_date %>
    </div>

    <div>
        <%= log_attr.label :location%>
        <%= log_attr.text_field :location %>
    </div>

    <div>
        <%= log_attr.label :wind_direction %>
        <%= log_attr.select :wind_direction, ['N', 'NNE', 'NE', 'ENE', 'E', 'ESE', 'SE', 'SSE', 'S', 'SSW', 'SW', 'WSW', 'W', 'WNW', 'NW', 'NNW'] %>
    </div>

    <div>
        <%= log_attr.label :wind_speed %>
        <%= log_attr.select :wind_speed, ['0-10mph', '10-20mph', '20-30mph', '30-40mph'] %>
    </div>

    <div>
        <%= log_attr.label :conditions%>
        <%= log_attr.select :conditions, ['Sunny', 'Cloudy', 'Foggy', 'Bright Moon', 'Dark'] %>
    </div>

    <div>
        <%= log_attr.label :precipitation %>
        <%= log_attr.select :precipitation, ['Dry', 'Drizzle', 'Rain'] %>
    </div>

    <div>
        <%= log_attr.label :water_clarity %>
        <%= log_attr.select :water_clarity, ['Clear', 'Stained', 'Chocolatte'] %>
    </div>

    <div>
        <%= log_attr.label :moon_phase%>
        <%= log_attr.select :moon_phase, ['First Quarter', 'Waxing Crescent', 'New', 'Waning Crescent', 'Third Quarter', 'Waning Gibbous', 'Full', 'Waxing Gibbous'] %>
    </div>

    <div>
        <%= log_attr.label :air_temperature %>
        <%= log_attr.select :air_temperature, (-10..100) %>
    </div>

    <div>
        <%= log_attr.label :water_temperature %>
        <%= log_attr.select :water_temperature, (20..80) %>
    </div>

    <div>
        <%= log_attr.label :barometer %>
        <%= log_attr.select :barometer, ['Steady', 'Rising', 'Falling'] %>
    </div>

    <div>
        <%= log_attr.label :swell %>
        <%= log_attr.select :swell, (0..12) %> ft
    </div>

    <div>
        <%= log_attr.label :tide %>
        <%= log_attr.select :tide, ['Incoming', 'Outgoing', 'Low Slack', 'High Slack'] %>
    </div>
   

    <div>
        <%= log_attr.label :trip_rating %>
        <%= log_attr.select :trip_rating, (1..5) %>
    </div>

    <div>
        <%= log_attr.label :comments, "Comments: " %><br>
        <%= log_attr.text_area :comments%>
    </div>
        <% end %>

        <div>
            <%= f.submit %>
        </div>
    </div>

<% end %>
